*.vs
*.vscode
*.exe
*/*.exe
*/build
*/*.sln
*/*vcxproj
*/*vcxproj.filters
*/*.dll
*/CMakeFiles
*/*.3d
*/*CMake*
*build
*.sln
*vcxproj
*vcxproj.filters
*.dll
*CMakeFiles
*.3d
*CMake*
*/Release
*/Debug
*Release
*Debug
*Win32
*/Win32
Release/*
Debug/*
Win32/*